@{
    ViewData["Title"] = "Home Page";


}

<div class="jumbotron jumbotron-fluid" @*style="background-image: url(https://th.bing.com/th/id/R.6f4dd59bf1f5794913c6b0e0f096bf7e?rik=G%2fMZr4l4WxrW%2fw&riu=http%3a%2f%2fi.stack.imgur.com%2f7YKUD.jpg&ehk=oWZpgjcwS0B7wkTMEuTHEawpHqIHFSqjVRcMfKQEwd0%3d&risl=&pid=ImgRaw&r=0); background-size: cover; height: 400px; "*@>
    <div class="container">
        <div class="text-center" style="margin-top: 80px;  ">
            <h1 class="display-4">JOIN US!</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>




